* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

body {
 width: 100%;
 max-height: 100vh;
}

#mapLocation {
 width: 70%;
 height: 80vh;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: grey;
 margin: 4em auto;
}

